<div class="listing-item-container">
    <img class="listing-img" [src]="img">
    <h4>{{ name }}</h4>
    <h5>{{ address }} {{ pinCode }}</h5>
    <div class="divider"></div>
    <div class="listing-features">
        <div class="listing-feature">
            <span class="material-symbols-outlined">fullscreen_exit</span>
            <p>{{ area }} sqf</p>
        </div>
        <div class="listing-feature">
            <span class="material-symbols-outlined">bed</span>
            <p>{{ beds }} Beds</p>
        </div>
        <div class="listing-feature">
            <span class="material-symbols-outlined">bathtub</span>
            <p>{{ baths }} Baths</p>
        </div>
    </div>
    <div class="divider"></div>
    <div class="listing-details">
        <div class="details">
            <p>Price</p>
            <h4>$ {{ price }}</h4>
        </div>
        <div class="details">
            <p>Rating</p>
            <div class="inline-details">
                <img width="24" height="24" src="https://img.icons8.com/office/40/filled-star--v1.png" alt="filled-star--v1"/>
                <h4>{{ rating }} ({{ ratingCount }})</h4>
            </div>
        </div>
    </div>
    <div class="fav-container">
        <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/CCCCCC/filled-like.png" alt="filled-like"/>
        <img class="active" width="20" height="20" src="https://img.icons8.com/color/48/filled-like.png" alt="filled-like"/>
    </div>
</div>