<div class="img-container">
    <img class="hero-image" src="/assets/hero-image.jpg">
    <div class="container text-container">
        <h1>
            We will help you find<br>your <span class="colored">Wonderful</span> home</h1>
        <p>A great platform to buy, sell and rent your properties without<br> any agent or commissions.</p>
    </div>
</div>
<quick-search/>
<!-- Feature Section -->
<div class="container feature-container">
    <img class="feature-video-img" src="/assets/feature-image-1.jpg">
    <div class="text-container">
        <h2>Efficiency. Transparency.<br>Control.</h2>
        <p>EState-360 developed a platform for the Real Estate marketplace that allows buyers and sellers to easily execute a transaction on their own. The platform drives efficiency, cost transparency and control into the hands of the consumers. EState-360 is Real Estate Redefined.</p>
        <button>
            <span>Learn More</span>
        </button>
    </div>
</div>
<!-- Process Section -->
 <div class="container process-section">
    <h2>How It Works</h2>
    <p>A great platform to buy, sell and rent your properties without any agent <br> or commissions.</p>
    <div class="process-item-container">
        <div class="process-item">
            <div class="shaped-encloser">
                <div class="shaped"></div>
                <span class="material-symbols-outlined shaped-icon">cottage</span>
            </div>
            <h3>Evaluate Property</h3>
            <p>If the distribution of letters and words is random, the reader will not be distracted from making.</p>
        </div>
        <div class="process-item">
            <div class="shaped-encloser">
                <div class="shaped"></div>
                <span class="material-symbols-outlined shaped-icon">trip</span>
            </div>
            <h3>Evaluate Property</h3>
            <p>If the distribution of letters and words is random, the reader will not be distracted from making.</p>
        </div>
        <div class="process-item">
            <div class="shaped-encloser">
                <div class="shaped"></div>
                <span class="material-symbols-outlined shaped-icon r-45">vpn_key</span>
            </div>
            <h3>Evaluate Property</h3>
            <p>If the distribution of letters and words is random, the reader will not be distracted from making.</p>
        </div>
    </div>
 </div>
 <ng-container *ngIf="topListings$ | async as topListings; else loading" >
    <!-- Featured Text Section -->
    <div class="container process-section">
        <h2>Featured Properties</h2>
        <p>A great platform to buy, sell and rent your properties without any agent <br> or commissions.</p>
    </div>
    <!-- Listings -->
    <div class="container listing-container">
        <ng-container *ngFor="let listing of topListings">
            <property-listing
            [listing]="listing"
            ></property-listing>
        </ng-container>
    </div>
 </ng-container>

 <ng-template #loading>
    <p> Loading Highest rated Listings .... </p>
 </ng-template>
