@import '../../../../styles/_fonts.scss';
@import '../../../../styles/_dimns.scss';
@import '../../../../styles/_colors.scss';

.img-container {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;

    transition: all $anim-time ease;

    .hero-image {
        position: absolute;
        width: 98%;
        height: 100%;
        margin: 1%;
        object-fit: cover;
        border-radius: 16px;
        box-shadow: $shadow-card;
        filter: brightness(30%);
        z-index: 1;
        cursor: pointer;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        z-index: 2;

        h1 {
            color: $color-white;
            @include font_regular($prime-text, $text-bold);
            font-size: xxx-large;

            .colored {
                color: $color-accent;
            }
        }

        p {
            color: $color-disabled-l;
            @include font_regular($prime-text);
            font-size: medium;
            line-height: 1.5em;
        }
    }
}

@media (max-width: $width-md) {
    .img-container {
        height: 500px;

        .text-container {
            padding: 2px;
            box-sizing: border-box;
            h1 {
                text-align: center;
                font-size: xx-large;
            }

            p {
                text-align: center;
            }
        }
    }
}