@import '../../../../styles/_fonts.scss';
@import '../../../../styles/_dimns.scss';
@import '../../../../styles/_colors.scss';

.img-container {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;

    transition: all $anim-time ease;

    .hero-image {
        position: absolute;
        width: 98%;
        height: 100%;
        margin: 1%;
        object-fit: cover;
        border-radius: 16px;
        box-shadow: $shadow-card;
        filter: brightness(30%);
        z-index: 1;
        cursor: pointer;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        z-index: 2;

        h1 {
            color: $color-white;
            @include font_regular($prime-text, $text-bold);
            font-size: xxx-large;

            .colored {
                color: $color-accent;
            }
        }

        p {
            color: $color-disabled-l;
            @include font_regular($prime-text);
            font-size: medium;
            line-height: 1.5em;
        }
    }
}

.feature-container {
    display: flex;
    flex-direction: row;
    margin-top: $nav-gap * 2;
    margin-bottom: $nav-gap * 2;
    gap: $nav-gap;
    align-items: center;

    .feature-video-img {
        width: 35%;
        border-radius: 16px;
        box-shadow: $shadow-card;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-right: 16px;
        gap: 16px;

        h2 {
            @include font-regular($prime-text, $text-semibold);
            font-size: xx-large;
            margin: 0;
        }

        p {
            @include font-regular($prime-text);
            font-size: medium;
            text-align: justify;
            color: $color-disabled-d;
        }

        button {
            border: none;
            border-radius: 6px;
            padding: 8px 32px;
            color: $color-white;
            background-color: $color-accent;
            transition: all $anim-time ease;

            span {
                @include font-regular($prime-text);
                font-size: medium;
            }

            &:hover {
                background-color: $color-accent-h;
            }
        }
    }
}

.process-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: $nav-gap;

    h2 {
        @include font-regular($prime-text, $text-semibold);
        font-size: xx-large;
        text-align: center;
    }

    p {
        margin: 2px;
        text-align: center;
        @include font-regular($prime-text);
        font-size: medium;
        color: $color-disabled-d;
    }

    .process-item-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: $nav-gap;
        gap: $nav-gap;

        .process-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: $nav-gap;
            gap: 16px;

            .shaped-encloser {
                display: flex;
                flex-direction: column;
                position: relative;
                align-items: center;
                justify-content: center;
                margin: 16px;

                .shaped-icon {
                    color: $color-accent;
                    font-size: 42px;
                    position: absolute;
                    transition: all $anim-time ease;

                    &.r-45 {
                        transform: rotate(-45deg);
                    }
                }

                &:hover {
                    .shaped-icon {
                        transform: scale(1.1);
                    }
                }
    
                .shaped {
                    position: relative;
                    width: 4em;
                    height: 7.32em;
                    background-color: $color-accent-l;
                    border-radius: 0.8em / .2em;
                    transform: rotate(90deg);
                }
    
                .shaped::before, .shaped::after {
                    content: '';
                    position: absolute;
                    width: inherit;
                    height: inherit;
                    background: inherit;
                    border-radius: inherit;
                }
    
                .shaped::before {
                    transform: rotate(60deg);
                }
    
                .shaped::after {
                    transform: rotate(-60deg);
                }
            }

            h3 {
                @include font-regular($prime-text, $text-semibold);
                font-size: large;
                text-align: center;
                margin: 0;
            }

            p {
                width: 75%;
                margin: 2px;
                text-align: center;
                @include font-regular($prime-text);
                font-size: medium;
                color: $color-disabled-d;
            }
        }
    }
}

.listing-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $nav-gap $nav-gap;
}


@media (max-width: $width-xl) {
    .process-section .process-item-container .process-item p {
           width: 100%;
    }
}

@media (max-width: $width-lg) {
    .listing-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: $width-md) {
    .img-container {
        height: 500px;

        .text-container {
            padding: 2px;
            box-sizing: border-box;
            h1 {
                text-align: center;
                font-size: xx-large;
            }

            p {
                text-align: center;
            }
        }
    }

    .feature-container {
        flex-direction: column;

        .feature-video-img {
            width: 100%;
        }

        .text-container {
            h2 {
                font-size: x-large;
            }
        }
    }

    .process-section .process-item-container {
        grid-template-columns: 1fr;
    }

    .listing-container {
        grid-template-columns: 1fr;
    }
}