<div class="container">
    <div class="nav-container">
        <div class="logo-container">
            <span class="logo-s">EState</span>
            <span class="logo-e">-360</span>
        </div>
        <div class="control-container">
            <div class="links-container">
                <span class="nav-link">Home</span>
                <span class="nav-link">Buy</span>
                <span class="nav-link">Sell</span>
                <div class="link-container">
                    <span class="nav-link">Listing</span>
                    <span class="material-symbols-outlined nav-link-icon">stat_minus_1</span>
                    <!-- Hover Menus -->
                    <div class="hover-container">
                        <span class="nav-sub-link">Hot Deals</span>
                        <span class="nav-sub-link">Latest Deals</span>
                    </div>
                </div>
                <span class="nav-link">Contact</span>
            </div>
            <div class="quick-btn-container">
                <button class="control-btn">
                    <span class="material-symbols-outlined icon">person</span>
                </button>
                <button class="control-btn large">
                    <span>Signup</span>
                </button>
            </div>
        </div>
    </div>    
</div>