$color-accent: #18A34A;
$color-accent-h: #17803E;
$color-text-secondary: #666666;
$color-bg: #F4F6F5;

$color-black: #111111;
$color-disabled: #999999;
$color-disabled-l: #AAAAAA;
$color-white: #FFFFFF;
$color-off-white: #F5F5F5;

$shadow-card:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
