<form class="container" [formGroup]="searchForm">
    <!-- Quick Controls -->
    <div *ngIf="!disableModeControls" class="control-container">
        <button class="toggle-btn" [class.active]="isSelectedMode(Buy)" (click)="setSelectMode(Buy)">
            <span>Buy</span>
        </button>
        <button class="toggle-btn" [class.active]="isSelectedMode(Sell)" (click)="setSelectMode(Sell)" disabled>
            <span>Sell</span>
        </button>
        <button class="toggle-btn" [class.active]="isSelectedMode(Rent)" (click)="setSelectMode(Rent)">
            <span>Rent</span>
        </button>
    </div>
    <div class="search-container" [class.all-rounded]="disableModeControls">
        <div class="search-items-container">
            <h2>Search :</h2>
            <div class="search-input-container">
                <span class="material-symbols-outlined">search</span>
                <input formControlName="keywords" class="input-box" type="text" placeholder="Search your Keywords">
                <div class="divider"></div>
            </div>
        </div>
        <div class="search-items-container">
            <h2>Search Location :</h2>
            <div class="search-input-container">
                <span class="material-symbols-outlined">home</span>
                <input formControlName="location" class="input-box" type="text" placeholder="Province ...">
                <div class="divider sm-end"></div>
            </div>
        </div>
        <div class="search-items-container">
            <h2>Min Price :</h2>
            <div class="search-input-container">
                <span class="material-symbols-outlined">paid</span>
                <input formControlName="minPrice" class="input-box" type="number" placeholder="CAD 100000">
                <div class="divider"></div>
            </div>
        </div>
        <div class="search-items-container">
            <h2>Max Price :</h2>
            <div class="search-input-container">
                <span class="material-symbols-outlined">paid</span>
                <input formControlName="maxPrice" class="input-box" type="number" placeholder="CAD 1000000">
            </div>
        </div>
        <button class="search-btn" (click)="onSubmit()">
            <span>Search</span>
        </button>
    </div>
</form>
