<div class="footer-section">
    <div class="container">
        <div class="footer-main">
            <div class="logo-container">
                <span class="logo-s">EState</span>
                <span class="logo-e">-360</span>
            </div>
            <p>At Estate-360, we bring you a comprehensive platform designed to cater to all your real estate needs. Whether you're looking to buy your dream home, sell your property at the best price, or find the perfect rental, Estate-360 has got you covered.</p>
        </div>
        <div class="footer-options">
            <div class="options">
                <h2>Help</h2>
                <span>Track Your Order</span>
                <span>Property Guides</span>
                <span>Wishlist</span>
                <span>Privacy Policy</span>
            </div>
            <div class="options">
                <h2>Company</h2>
                <span>About Us</span>
                <span>Locate Us</span>
                <span>Careers</span>
                <span>Gift Cards</span>
            </div>
            <div class="options">
                <h2>Social Media</h2>
                <span>Instagram</span>
                <span>Pinterest</span>
                <span>Twitter</span>
                <span>Phone: +1 (647) 666 0077</span>
            </div>
        </div>
    </div>
    <div class="separator container"></div>
</div>